* {
    font-family: Poppins;
    align-items: center;
    
}

#firstView {
    height: 100%;
    background-color: #ECF2FF;
}

#firstview #notice{
    font-size: 15px;
    display: block;
    text-align: center;
    background-color: black;
    color: #fff;
    margin-bottom: 0px;
    /* padding-bottom: 2px; */
}

#firstView #notice-close{
    display: inline;
    border: none;
    background-color: black;
    color: #fff;
    position: absolute;
    left: 98%; 
}

#firstView h1 {
    font-size: 5rem;
    text-align: center;
    padding-top: 10%;
    font-family: Sacramento;
    color: #3E54AC;
    font-weight: 800;

}

#firstView p {
    font-size: 1.5rem;
    display: inline-block;
}

#typewriter-effect{
    border-right: 2px solid black;
}
  

#firstView .navbar1 {
    font-weight: bold;
    position: sticky;
    right: 100%;
    padding: 1% 5%;
    /* box-shadow: 50px; */
}

#firstView .nav-item{
    padding: 1% 3%;
}


#firstView .nav-item:hover {
    /* margin: 0% 1%; */
    background-color: #BFACE2;
    border-radius: 5px;
    transition: 0.5s ease-in;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.6);
}


#aboutPage{
    height: 90%;
    padding: 5%;
    /* background-color: #E3DFFD; */
    
}
#aboutPage p {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

#aboutProjects {
    height: 100%;
    background-color: #ECF2FF;
    padding: 5%;
}

#aboutProjects .col {
    padding: 2%;
}

#aboutProjects .card {
    width: 18rem; 
    padding-top: 2%; 
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}


#aboutProjects .Project-img {
    height: 50%;
    width: 50%;
    align-self: center;
}

#aboutMySkills {
    height: 90%;
    padding: 5% 2%;
    
}

#aboutMySkills .Skill-img{
    height: 90px;
    width: 100px;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

#aboutMySkills h4 {
    padding-top: 5%;
} 


#Contact-me {
    height: 80%;
    background-color: #ECF2FF;
    padding: 5%;
    height: fit-content;
}

#Contact-me .input-card{
    border: 1px solid;
    display: inline-block;
    margin: 2%;
    padding: 4% 5%;
    border-radius: 10px;
    background-color: #fff;
}

#Contact-me .input{
    border-radius: 8px;
    margin: 3%;
}

#Contact-me textarea{
    border: 2px solid;
}


footer{
    height: 10%;
    align-items: center;
    margin-top: 5%;
    padding-left: 43%;
}

footer .icons{
    padding-left: 2%;
    margin: 0 0.1%;
}



@media (max-width: 1000px) {

    #aboutProjects{
        height: fit-content;
        padding: 5%;
    }

    #aboutMySkills {
        height: fit-content;
    }

    /* footer .copyright{
        position: absolute;
        left: 200px;
    } */
}